<content-type name="/page/landingpage" is-wcm-type="true">
	<label>Landing Page</label>
	<form>/page/landing-page</form>
	<form-path>simple</form-path>
	<model-instance-path>NOT-USED-BY-SIMPLE-FORM-ENGINE</model-instance-path>
	<file-extension>xml</file-extension>
	<content-as-folder>true</content-as-folder>
	<previewable>true</previewable>
	<quickCreate>true</quickCreate>
	<quickCreatePath>/site/website</quickCreatePath>
	<noThumbnail>true</noThumbnail>
	<image-thumbnail></image-thumbnail>
</content-type>
